<html>
    <head>
        <title>PSP Hunt</title>
        <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <h1>PSP Hunt</h1>
        </div>
        <div class="linkrow flex flexrow flexaround">
            <a href="/">Home</a>
            <a href="/scoreboard">Scoreboard</a>
            <a href="/admin">Admin</a>
        </div>
        <div class="mainarea">
            <div class="flex flexrow flexaround">
                <div class="flex flexcol menucol">
                    <h1 class="center-text">Lobby</h1>
                    {% if teams %}
                        <h2 class="nopadding nomargin">Teams</h2>
                        <ol>
                            {% for team in teams %}
                                <li>
                                    {% if current_team_name == team and game_running %}
                                    <a class="tasklink" href="/{{ team_id }}/tasks">
                                    {% endif %}
                                    <p>{{ team }}</p>
                                    {% if current_team_name == team and game_running %}
                                    </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
                {% if not team_id %}
                <div class="flex flexcol menucol">
                    <h1 class="center-text">Join</h1>
                    <form action="/" method="post" class="signups">
                        <label>Team Name</label>
                        <input name="teamname" type="text" placeholder="Agent S">
                        <input type="submit" value="Join!" />
                    </form>
                    {% if invalid_teamname %}
                        <div class="warning center-text">
                            <p>Invalid Team Name</p>
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            
            
        </div>
    </body>
</html>